body {
  font: 12px sans-serif;
}

.chart {
  height: calc(100vh - 68px);
}

#toggleChart {
  float: right;
}

fieldset {
  display: inline-block;
  border: 1px solid #a5a5a5;
}

input {
  border: 0;
  font: 16px sans-serif;
}

label {
  display: block;
  font-size: 11px;
  color: #a5a5a5;
}

button {
  height: 32px;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  opacity: 1;
}
