body {
  font: 12px sans-serif;
}

.chart {
  height: calc(100vh - 60px);
}

fieldset {
  display: inline-block;
  border: 1px solid #000000;
}

input {
  border: 0;
  width: 100px;
  font: 16px sans-serif;
}

button {
  height: 36px;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  opacity: 1;
}
